  body{
      border: solid;
      margin: 5px;
      padding: 10px;
      background-color: gray;
  }
  h2{
      color: red;
      font-family: cursive;
      font-weight:500px;
      text-aligh: center;
      text-decoration: underline;
  }
  a{
      color: purple;
      font-size: small;
      text-decoration: none;
  }
  #sentancesP{
      color:green;
  }
  .favList{
      font-family: sans-serif;
  }
  #div1{
      background-color: red;
  }
  #div2{
      background-color: yellow;
  }
  #div3{
      background-color: blue;
  }
  #div4{
      background-color: green;
  }
  #div1{
      position: relative;
  }
  #div2,#div3,#div4{
      position: static;
  }
  #playstationX{
      color:blue;
  }
  #gamepassX{
      color:yellow;
  }
  .gamingGenre{
      color:green;
  }
  .gamingAge{
      color:red;
  }
  form{
      padding: 15px;
      background-color: white;
      font-style: italic;
      border-style: solid;
      font-weight: 900px;
  }
  input[type=submit] {
      color:blue;
      font-style: italic;
  }
